<!doctype html>
<html lang="la">
<head>
    <title><%= subject %></title>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script defer src="/statics/assets/fontawesome/js/all.js"></script>
    <link rel="stylesheet" href="/statics/css/main.css" />
    <link rel="stylesheet" href="/statics/plugins/prism/prism.css" />
    <style>
        svg {
            display: inline-block;
            fill: #f1f5f9;
        }
    </style>
</head>
<body class="bg-slate-900 text-slate-100 min-h-screen">
<%- include("../public/nav.p.ejs") %>
<main class="flex items-center h-expand justify-center">
    <div class="text-center">
        <h1 class="text-4xl font-bold"><%= statusCode %></h1>
        <br/>
        <p class="text-xl font-bold text-wrap" style="width: 70vw"><%= message %></p>
        <br/>
        <div class="mt-4">
            <a href="<%= redirectTo %>" class="rounded-md bg-gray-800 px-4 py-2"
            ><%= redirectMessage %></a
            >
        </div>
    </div>
</main>

<script type="application/javascript">
  const openNav = document.getElementById("open-nav");
  const closeNav = document.getElementById("close-nav");
  const navLinks = document.getElementById("nav-links");
  openNav.addEventListener("click", function() {
    openNav.classList.add("hidden");
    closeNav.classList.remove("hidden");
    navLinks.classList.remove("-translate-x-full");
  });
  closeNav.addEventListener("click", function() {
    closeNav.classList.add("hidden");
    openNav.classList.remove("hidden");
    navLinks.classList.add("-translate-x-full");
  });
</script>
</body>
</html>
